body.bg-image{
   background-image: url('bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-width: 100%;
  min-height: 100vh;
  font-family: 'Quicksand', sans-serif;
  color: #fff;
  background-size: cover;
  -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}

.parent-row>.col-lg-2{
  background-color: rgba(19, 16, 43, 0.57);
  box-shadow: 0 5px 5px rgba(0,0,0,.75) !important;
  padding-left: 0;
  padding-right: 0;
}
.parent-row{
  margin-left: 0;
  margin-right: 0;
}
@media screen and (min-width: 993px){
.indcon{
  bottom: 0;
  position: fixed;
  width: 100%;
  left:0;
  right: 0;
  padding-bottom: 20px
}
  .parent-row>.col-lg-2.snav{
    height: 100vh;
    overflow: auto;
  }
  .parent-row>.col-lg-2{
    padding-left: 0;
    padding-right: 0;
  }
  .side-nav>.list-group-item.active{
    border: none;
    border-left: solid 6px rgba(223, 53, 141, 1);
  }
  .col-lg-10>.container>p{
    width: 50%;
  }
  .col-lg-10>.container{
    margin-top: 80px;
    padding-left: 70px;
  padding-right: 60px;
  }
}
.parent-row>.col-lg-10{
  background-color: rgba(14, 19, 41, 0.79);
  height: 100vh;
  overflow: auto;
}


.col-lg-10>.container>h2{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 50px;
  font-weight: 300;
  margin-top: 50px;
}
.col-lg-10>.container>h2>b{
  font-weight: 400;
}
.col-lg-10>.container>h2>span{
  color: rgba(223, 53, 141, 1);
}
.free{
  color: rgba(223, 53, 141, 1);
}
.col-lg-10>.container>p{
  padding-top: 30px;
  width: 50%;
  font-size: 21px;
  color: #939299;
}
.col-lg-10>.container>h3>span{
  padding-bottom: 5px;
  border-bottom: solid 2px rgba(223, 53, 141, 1);
}
.col-lg-10>.container>.row>.col-md-10>h3>span{
  padding-bottom: 5px;
  border-bottom: solid 2px rgba(223, 53, 141, 1);
}

.img-circle.dp{
  display: block;
  margin: 0 auto;
  margin-top: 60px;
  height: 150px;
}

.side-nav{
  margin-top: 30px;
  font-size: 20px;
}

.side-nav>.list-group-item{
  background-color: transparent;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 45px;
  border: none;
  border-left: solid 6px rgba(19, 16, 43, 0.01);
  border-radius: 0;
}
.side-nav>.list-group-item>a{
  color:#fff;
  text-decoration: none;
}

.side-nav>.list-group-item.active>a{
  color:rgba(223, 53, 141, 1);
}
.side-nav>.list-group-item:hover{
  background-color: #221436;
}
.btn.hire{
  background-color: #df358d;
color: white;
border-radius: 0;
padding-left: 23px;
padding-right: 23px;
}
.artw{
  margin-top: 40px;
}

.artw>.col-lg-4>p{
  margin-top: 20px;
  font-size: 19px;
}
.artw>.col-lg-4{
  margin-bottom: 50px;
}

.imgart>img{
  width: 100%!important;
  height: 170px;
  object-fit: contain;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.51) !important;
}
.carousel-item>img{
  width: 100%!important;
  height: 170px;
  object-fit: cover;
}
@media screen and (max-width: 992px){
  .col-md-12>.container{
    margin-top: 40px;
    padding-left: 20px;
  padding-right: 10px;
     padding-bottom: 20px
  }
  .indcon{
    position: inherit;
    margin-top: 50px
  }
   .side-nav{
      flex-direction: row;
      margin-top:10px;
   }
   .side-nav>li{
      padding-left: 20px;
      width: 33.33%;
      border:none;
   }
   .img-circle.dp{
      margin-top:30px;
   }
   .parent-row>.col-md-12{
      height: inherit;
   }
   .img-circle.dp{
      height: 100px;
   }
  .side-nav{
    margin-left:20px;
    margin-right: 50px;
  }
  .col-lg-10>.container>p{
    width: 100%
  }

  .side-nav>.list-group-item:hover{
    background-color: transparent;
  }
}
@media screen and (max-width: 523px){
.side-nav{
    margin-left:0px;
  }
}
